# Se ignora todo por default en actor* y server
actor*/*
server/*

# No se ignora ningun archivo de configuración de actor ni server
!actor*/actor.yaml
!server/server.yaml

# Obviar worksapce porque se modifica mucho en el uso regular
eDemo.sublime-workspace